[data-theme="light"] {
  --color-primary: theme("colors.white");
  --color-secondary: theme("colors.gray.400");
  --color-text: theme("colors.gray.300");
  --color-text-offset: theme("colors.gray.400");
  --color-background: theme("colors.gray.800");
  --color-background-offset: theme("colors.gray.700");
  --color-border: theme("colors.yellow.500");
  --color-error: theme("colors.yellow.500");
}

[data-theme="dark"] {
  --color-primary: theme("colors.white");
  --color-secondary: theme("colors.gray.400");
  --color-text: theme("colors.gray.300");
  --color-text-offset: theme("colors.gray.400");
  --color-background: theme("colors.gray.800");
  --color-background-offset: theme("colors.gray.700");
  --color-border: theme("colors.yellow.500");
  --color-error: theme("colors.yellow.500");
}
