<section id="links" class="flex flex-col items-center gap-4 space-y-8 scroll-mt-24">
    <div class="flex flex-col items-center gap-4">
      <h2
        class="text-4xl font-extrabold tracking-tight text-center text-primary"
      >
        Links
      </h2>
    </div>
    <p class="max-w-xl text-2xl font-extrabold text-center">
        Following is a collection of helpful links.
    </p>
    <div class="w-full max-w-6xl space-y-2">
        <div class="relative px-6 pt-4 pb-4 border bg-offset border-2 border-dashed border-default">
            <h3 class="absolute top-0 px-4 py-1 text-xs tracking-tight -translate-y-1/2 border-2 border-dashed border-current rounded-full right-4 bg-default">
            Tutorials
            </h3>
            <p class="text-primary text-lg text-center pt-8 pb-8">
                RaspiBlitz YouTube Tutorials (Setup)
            </p>
            <ul class="grid grid-cols-1 gap-8 sm:grid-cols-1 md:grid-cols-1 items-center">
            <li>
                <a class="flex flex-col items-center gap-2" href="https://youtu.be/qecxEvVL8ok">
                    Windows (41 min)
                </a>
            </li>
            <li>
                <a class="flex flex-col items-center gap-2" href="https://youtu.be/77BBQWg1n8w">
                    MacOS (22 min)
                </a>
            </li>
            <li>
                <a class="flex flex-col items-center gap-2" href="https://youtu.be/udlUotNZOw0">
                    Linux (22 min)
                </a>
            </li>
            </ul>
            <p class="text-primary text-lg text-center pt-8 pb-8">
                RaspiBlitz4Community
            </p>
            <ul class="grid grid-cols-1 gap-8 sm:grid-cols-1 md:grid-cols-1 items-center">
            <li>
                <a class="flex flex-col items-center gap-2" href="https://www.youtube.com/watch?v=0Bt3tHULAnw">
                    Lightning Vouchers & Merchant Onboarding (YouTube)
                </a>
            </li>
            <li>
                <a class="flex flex-col items-center gap-2" href="https://github.com/rootzoll/raspiblitz/raw/v1.7/home.admin/assets/slides_lnbits_vouchers_and_merchant_onboarding.pdf">
                    Lightning Vouchers & Merchant Onboarding (PDF)
                </a>
            </li>
            </ul>
        </div>
    </div>
    <div class="w-full max-w-6xl space-y-2">
        <div class="relative px-6 pt-4 pb-4 border bg-offset border-2 border-dashed border-default">
            <h3 class="absolute top-0 px-4 py-1 text-xs tracking-tight -translate-y-1/2 border-2 border-dashed border-current rounded-full right-4 bg-default">
            Shops
            </h3>
            <p class="text-primary text-lg text-center pt-8 pb-8">
                Buy a ready-2-go RaspiBlitz or Workshop-Set
            </p>
            <ul class="grid grid-cols-1 gap-8 sm:grid-cols-1 md:grid-cols-1 items-center">
            <li>
                <a class="flex flex-col items-center gap-2" href="https://shop.fulmo.org/">
                    shop.fulmo.org (world-wide)
                </a>
            </li>
            <li>
                <a class="flex flex-col items-center gap-2" href="https://diynodes.com/">
                    diynodes.com (UK)
                </a>
            </li>
            <li>
                <a class="flex flex-col items-center gap-2" href="https://lightninginabox.co/product/raspiblitz-raspberry-pi-lightning-node/">
                    lightninginabox.co (USA)
                </a>
            </li>
            </ul>
        </div>
    </div>
    <div class="w-full max-w-6xl space-y-2">
        <div class="relative px-6 pt-8 pb-4 border bg-offset border-2 border-dashed border-default">
            <h3 class="absolute top-0 px-4 py-1 text-xs tracking-tight -translate-y-1/2 border-2 border-dashed border-current rounded-full right-4 bg-default">
                Support
            </h3>
            <p class="text-primary text-lg text-center pt-4 pb-8">
                Get help from the RaspiBlitz community 
            </p>
            <ul class="grid grid-cols-1 gap-8 sm:grid-cols-1 md:grid-cols-1 items-center">
                <li>
                    <a class="flex flex-col items-center gap-2" href="https://t.me/raspiblitz">
                        Telegram English (community managed)
                    </a>
                </li>
                <li>
                    <a class="flex flex-col items-center gap-2" href="https://t.me/raspiblitz_DE">
                        Telegram Deutsch (community managed)
                    </a>
                </li>
                <li>
                    <a class="flex flex-col items-center gap-2" href="https://t.me/raspiblitz_ES">
                        Telegram Spanish (community managed)
                    </a>
                </li>
                <li>
                    <a class="flex flex-col items-center gap-2" href="https://t.me/raspiblitz_IT">
                        Telegram Italian (community managed)
                    </a>
                </li>
                <li>
                    <a class="flex flex-col items-center gap-2" href="https://t.me/raspiblitz_RU">
                        Telegram Russian (community managed)
                    </a>
                </li>
                <li>
                    <a class="flex flex-col items-center gap-2" href="https://github.com/rootzoll/raspiblitz/issues?q=is%3Aissue">
                        GitHub Issues
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="w-full max-w-6xl space-y-2">
        <div class="relative px-6 pt-8 pb-4 border bg-offset border-2 border-dashed border-default">
            <h3 class="absolute top-0 px-4 py-1 text-xs tracking-tight -translate-y-1/2 border-2 border-dashed border-current rounded-full right-4 bg-default">
                Donations
            </h3>
            <p class="text-primary text-lg text-center pt-4 pb-8">
                Support the RaspiBlitz development
            </p>
            <ul class="grid grid-cols-1 gap-8 sm:grid-cols-1 md:grid-cols-1 items-center">
                <li>
                    <a class="flex flex-col items-center gap-2" href="https://tallyco.in/rootzoll/">
                        rootzoll (tallyco.in page)
                    </a>
                </li>
                <li>
                    <a class="flex flex-col items-center gap-2" href="http://7tpv3ynajkv6cdocmzitcd4z3xrstp3ic6xtv5om3dc2ned3fffll5qd.onion/apps/4FePMm7m818oppkTYNZRwbDnL6HP/pos">
                        openoms (use Tor browser)
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>